body {

    background-image: url(bg.jpg);
    background-color: #000000;
    background-size: 100%;
    font-family: Helvetica,
        Arial,
        sans-serif;

}

body h1 {
    color: honeydew;
    padding: 15px;
    background-color: #000000af;
    font-family: 'MedievalSharp',
        cursive,
        Helvetica,
        Arial,
        sans-serif;
}


.container {
    text-align: center;
    padding-top: 20px;
}

.square {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #bbbbbbaf;
    border: 2px solid;

}

.trap {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #74742b9f;
    border: 2px solid;
}

#board {
    position: absolute;
    top: 20px;
    left: 20px;
}

.messageContainer {
    height: 100px;
    width: 625px;
    margin-top: 600px;
    margin-left: 10px;
    float: left;
    background-color: #bbbbbbaf;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 22px;

}

.player {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid;

}

.diceContainer {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    border: 5px solid;
    border-color: #f1f1f1d2;
    height: 200px;
    width: 100px;
    font-family: 'MedievalSharp',
        cursive,
        Helvetica,
        Arial,
        sans-serif;
}

#dice {
    font-size: 100px;
    color: #f1f1f1d2;
    text-align: center;


}

button {

    background-color: #4CAF50;
    border: none;
    color: #f1f1f1d2;
    margin-top: 15px;
    padding: 15px 20px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-family: 'MedievalSharp',
        cursive,
        Helvetica,
        Arial,
        sans-serif;

}


.card {
    box-shadow: 0 0 50px 0 #1d1b06af;
    padding-top: 20px;
    text-align: center;
    background-color: #f1f1f1d2;
    height: 250px;
    width: 19%;
    float: left;
    margin: 5px 5px;
    border-radius: 7px;
    transition: all 0.5s;
}

.card:hover {
    box-shadow: none;
}

.card h2 {
    font-size: 22px;
    font-weight: bolder;
    color: black;
    margin-bottom: 20px;
    font-family: 'MedievalSharp',
        cursive,
        Helvetica,
        Arial,
        sans-serif;
}

.card p {
    font-size: 14px;
    font-weight: bolder;
    margin: 10px;


}

/* Responsive columns */
@media screen and (max-width: 1200px) {
    .card {
        width: 30%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

#message {
    margin: 20px;
}

label {
    height: 100%;
    display: block;
}


input[type=checkbox] {
    opacity: 1;
}